/*@charset "UTF-8";
/* Estilo CSS

body,
html{
 margin:  0; 
 padding: 0;
 font-size:18px;
 background-color: #FAFAFA;
}

.principal, principal-fluid {
 padding-right: 15px;
 padding-left: 15px;
 width: 906px;
 color: #273b60ff;
 margin: 0 auto;
 font-family:sans-serif;
}
.row {
 margin-bottom: 20px;
}	
[class*="col-"], header, footer, nav, aside, section, div[role="main"] {
 padding-top: 15px;
 padding-bottom: 15px;	
 background-color: #f5f5f5;
 background-color: rgba(86,61,124,.15);
 border: 1px solid #ddd;
 border: 1px solid rgba(86,61,124,.2);
 text-align: justify;
}


/* Login *
.login-lateral{
 float:right;
    position: static;
    margin-top: -227px;
    border: 2px solid #273b60ff
}
.login-lateral, .login-lateral:before{
 width:50%;

}
.espacamento{
 padding:10px;
}

*/

section {

	height: 100vh;
}

.inicio {
	background-image: url("../img/comunitario.jpg");
	background-color: rgba(255, 255, 255, 0.75);
	background-blend-mode: lighten;
	background-size: cover;
	background-repeat: no-repeat;
}

.parallax {
    /* The image used */
    background-image: url("../img/comunitario_1.jpg");

    /* Set a specific height */
     min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.75);
}

#titulo-pagina {
	float: left;
	font-size: 32px;
	line-height: 101%;
	margin:1.78rem 0 0.424rem 0;
	-webkit-margin-start: 61px

}
.nav-wrapper {
	background-color: #273b60ff;
}

#img-logo {
	width: 62px;
}


#coluna-lateral {
	float: right;	
	width: 250px;	
	height: 202px;	
	background-color: #ffd43d; /* Amarelo */
}

#tabs-cadastro {
	overflow: hidden;
}

#cadastro .modal-content {
	padding: 0;
}



