/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/02/2018, 13:46:38
    Author     : brenn
*/
body{
    height: 100%;
    
}

.cadastro{
    margin-top: 20vh;
}

.botaologin{
   
    background-color: green;
}

textarea.materialize-textarea {
  background-color: white;
}
img{height: 300px;
width: 300px;}